.highlight pre, .highlight pre code {
	tab-size: 2;
	-moz-tab-size: 2;
}
.site {
	padding: 0 !important;
	overflow-x: hidden;
}
.float-left {
	float:left;
	margin-left: 15px;
}
.float-right {
	float:right;
	margin-right: 15px;
}
#content {
	padding: 0 5px;
}
.indent {
	margin-left: 25px;
	margin-bottom: 0.75em;
}
h1 {
	display: block;
	margin: 0 auto;
	font-size: 24px;
	text-align: center;
}
.br {
	height: 0.5em;
}
.br:after {
	content: " ";
}
.demo {
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	color: #333333;
	display: block;
	font-size: 13px;
	line-height: 1.42857;
	margin: 0 0 10px;
	padding: 9.5px;
}
