<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>{{ page.title }}</title>
	<meta name="author" content="Casey Manion"/>
	<meta name="description" content="{{ page.desc }}"/>
	<link rel="stylesheet" href="/{{ github_repo }}/assets/ng-style.css?v={{ site.time }}" type="text/css"/>
	<script src="/{{ github_repo }}/assets/ng-head.min.js={{ site.time }}" type="text/javascript"></script>
</head>
<body>
<div class="site">

<div class="header">
</div>

<div id="content">
{{ content }}
</div>

<div class="footer">
</div>

</div>
<script src="/{{ github_repo }}/assets/ng-app.js={{ site.time }}" type="text/javascript"></script>
</body>
</html>
